.app-list-item {
  font-size: 1.25rem;
  justify-content: space-between;
}

.app-list-item .btn-wrap{
  justify-content: center;
  align-items: center;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}
.app-list-item .btn-flag {
    color: #aeaeae ;
}
.app-list-item .btn-trash {
    color: red;
}
.app-list-item .fa-check-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: grey;
    transition: 0.3s all;
    transform: scale(1.7);
    opacity: 0.5;
    cursor: pointer;
}

.app-list-item-label {
  display: block;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.app-list-item.done .fa-check-circle {
    color: green;
    opacity: 1;
}

.app-list-item.important .btn-flag {
    color: #ff5252;
}
